.textBook_wrapper {
  padding: 100px 0px
}

.textBookGroup {
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  font-family: 'Gilroy';
}

.main_textBook {
  display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
}

.transcript-music-word {
  flex-direction: column-reverse;
    margin-bottom: 8px;
}

.information-word {
  -webkit-box-flex: 1;
    flex-grow: 1;
    display: grid;
    -webkit-box-align: end;
    align-items: end;
    gap: 10px;
    margin: 5px 0px;
}

.btn-small {
  font-family: "Roboto", sans-serif;
    display: inline-block;
    color: #333;
    background-color: #baedff;
    font-weight: bold;
    padding: 6px 7px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease-in;
}

.div-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.transcript-and-word {
  margin-top: 16px;
}

.transcript-and-wordOneBlock {
  display: flex;
  flex-wrap: wrap;
}

.image-word {
  width: 240px;
  height: 281px;
  object-fit: cover;
  object-position: center center;
}

.translateSound {
  flex-direction: column-reverse;
  margin-bottom: 8px;
}

.name-word {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 28px;
  margin-right: 9px;
}

.transcription-word, .translate-word {
  font-size: 1.2rem;
}

.translate-word {
  color: gray;
}

.word-list {
  display: flex;
  border-radius: 10px;
  padding: 24px;
  background-color: rgb(250, 252, 254);
}

.card-word-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.information-word {
  -webkit-box-flex: 1;
    flex-grow: 1;
    display: grid;
    -webkit-box-align: end;
    align-items: end;
    gap: 10px;
    margin: 5px 0px;
}

.sound-word__div{
  display: flex;
}

.sound-word__svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  cursor: pointer;
}

.textExampleTranslate-word, .text-meaning-translate {
  max-width: 400px;
    font-size: 18px;
    font-weight: 400;
    color: #303030;
}

.level-card {
  height: 70px;
  width: 220px;
  background-color: #f3f4f8;
  display: flex;
  border-radius: 0.5rem;
  color: #2c2647;
  font-size: 1rem;
  font-family: 'Gilroy-Heavy';
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1.2rem;
  position: relative;
  align-items: center;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: all easy 0.5s;
}

.levels-wrapper .level-card--unactive {
  background-color: #f3f4f8;
  border: none;
  outline: none;
}

.group__title {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: bold;
  font-size: 20px;
}




.start-game__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 80vh;
}
.start-game__header__text {
  font-size: 3rem;
}
.start-game__text {
  font-size: 1.5em;
}
.start-game__choose {
  margin: 0;
}
.start-game__btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.groupBtn,
.start-game__submit,
.audio-quest__btn,
.next__btn,
.next-quest__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  max-width: 100px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}
.groupBtn:hover,
.start-game__submit:hover,
.audio-quest__btn:hover,
.next__btn:hover,
.next-quest__btn:hover {
  background-color: burlywood;
  transform: scale(1.1);
}
.game-main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 80vh;
  font-family: Comfortaa;
}
.delete-translate {
  display: none
}