.textBook__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.textBook {
  background: url(../assets/img/about-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.textBook__title {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 60px;
  color: #fff;
}
.link_textBook {
  display: flex;
  flex-direction: inherit;
  text-align: center;
}
.textBook > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container, .word-section-main {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}
.tutorial_groups {
  width: 50px;
  background-color: aqua;
}

.group__description {
  font-size: 25px;
  font-weight: 700;
  margin-top: 24px;
}

.group-btn {
  display: flex;

  align-items: baseline;
  width: 420px;
  padding: 0 28px;
  margin: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
}

