.statistic_title {
    text-align: center;
    z-index: 1;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.statistic-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.statistics-today {
    color: #2c2647;
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
    position: relative;
}