.statistic_title {
    text-align: center;
    z-index: 1;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.statistic-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.statistics-today {
    color: #2c2647;
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
    position: relative;
}

.words-lerning__div, .percent-words-lerning__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word-learning__text, .percent-word-learning__text {
    font-size: 1.2rem;
    padding: 0.3rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Gilroy-Regular';
    margin: 0 6rem;
}

.word-learning__number, .percent-word-learning__number {
    font-size: 6rem;
    font-family: 'Gilroy-Heavy';
}

.games-statistic-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.game-statistic-card-sprint, .game-statistic-card-savanna {
    font-family: 'Gilroy-Regular';
    font-size: 1.1rem;
    color: #2c2647;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    overflow: hidden;
}
.game-statistic-card-sprint h2, .game-statistic-card-savanna h2 {
    font-family: 'Gilroy-Heavy';
    margin-bottom: 0.5rem;
    z-index: 2;
}

.sprint_h3, .savanna_h3 {
    font-family: 'Gilroy-Regular';
    font-size: 0.9rem;
    padding: 0.3rem 0;
    z-index: 2;
    display: flex;
    align-items: flex-start;
}