.footer{
  padding: 70px 0;
  background: rgb(15, 15, 15);
  & > .container{
    display: flex;
    align-items: center;
  }

  &__logo{
    max-width: 150px;

    &_block{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &_descr{
      font-family: 'Gilroy';
      font-weight: 500;
      font-size: 16px;
      color: rgb(230, 230, 230);
      margin-top: 7px;
    }
  }

  &__nav{
    display: flex;
    align-items: center;
    margin-left: 100px;
    & .footer__list:nth-of-type(1){
      margin-right: 30px;
    }
  }

  &__contacts{
    flex-grow: 1;
    & > li{
      align-self: flex-end;
    }
  }

  &__list{
    display: flex;
    flex-direction: column;


    & > li{
      margin-bottom: 5px;
      cursor: pointer;
    }
  }

  &__link{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
    
    border-bottom: 1px transparent solid;
    transition: 0.12s ease-in-out;
    &:hover{
      border-bottom: 1px white solid;
    }
  }
}