$cerulean-blue-50: #ecf2ff;
$cerulean-blue-100: #dde7ff;
$cerulean-blue-200: #c2d2ff;
$cerulean-blue-300: #9db4ff;
$cerulean-blue-400: #758bff;
$cerulean-blue-500: #5563ff;
$cerulean-blue-600: #3738f4;
$cerulean-blue-700: #3734da;
$cerulean-blue-800: #2525ae;
$cerulean-blue-900: #262889;


.footer{
  padding: 70px 0;
  background: rgb(15, 15, 15);
  & > .container{
    display: flex;
    align-items: center;
  }

  &__logo{
    max-width: 150px;

    &_block{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &_descr{
      font-family: 'Gilroy';
      font-weight: 500;
      font-size: 16px;
      color: rgb(230, 230, 230);
      margin-top: 7px;
    }
  }

  &__nav{
    display: flex;
    align-items: center;
    margin-left: 100px;
    & .footer__list:nth-of-type(1){
      margin-right: 30px;
    }
  }

  &__contacts{
    flex-grow: 1;
    & > li{
      align-self: flex-end;
    }
  }

  &__list{
    display: flex;
    flex-direction: column;


    & > li{
      margin-bottom: 5px;
      cursor: pointer;
    }
  }

  &__link{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
    
    border-bottom: 1px transparent solid;
    transition: 0.12s ease-in-out;
    &:hover{
      border-bottom: 1px white solid;
    }
  }
}

.element-animated-out{
  animation: fade 0.3s ease-in-out reverse;
}
.element-animated-in{
  animation: fade 0.3s ease-in-out;
}
.element-disabled{
  display: none;
}