
.circles{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(141, 177, 255, 0.4);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}


@for $i from 1 to 16{
  $size: (random($limit: 100) + 50);
  .circles li:nth-of-type(#{$i}){
    left: random($limit: 1920)+px;
    width: $size+px;
    height: $size+px;
    animation-delay: random($limit: 8)+s;
    animation-duration: (random($limit: 8) + 8)+s;
  }
}




@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}