$cerulean-blue-50: #ecf2ff;
$cerulean-blue-100: #dde7ff;
$cerulean-blue-200: #c2d2ff;
$cerulean-blue-300: #9db4ff;
$cerulean-blue-400: #758bff;
$cerulean-blue-500: #5563ff;
$cerulean-blue-600: #3738f4;
$cerulean-blue-700: #3734da;
$cerulean-blue-800: #2525ae;
$cerulean-blue-900: #262889;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

}

section {
  padding: 100px 0;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

.section__underline {
  width: 290px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  margin-top: 20px;

  opacity: 0;
  &-appear-active {
    animation: slideFromDown 0.3s ease-in-out;
    opacity: 1;
  }
}

.section__title {
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 60px;
  color: #fff;

  opacity: 0;
  &-appear-active {
    animation: slideFromDown 0.3s ease-in-out;
    opacity: 1;
  }
}


#module-wrapper{
  width: 100%;
  max-width: 100%;
  padding: 0 290px;
  background-image: url('../assets/img/stacked-waves-haikei\ \(6\).svg');
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;

}

@keyframes slideFromDown {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

